@import "src/assets/styles/common";

// assign variables
$text-area-background-color: $white;
$text-area-color: $body-color;
$text-area-padding: 10px;
$text-area-height: 40px;
$text-area-border: 1px solid #D0D5DD;
$text-area-font-size: 14px;
$text-area-font-family: $font-family;
$text-area-placeholder-color: #667085;
$text-area-error-border-color: $error-color;

.textarea-component {
  position: relative;
  margin: 0 0 20px;

  &.fullWidth {
    .textarea-field {
      width: 100%;
    }
  }

  .textarea-field {
    background: $text-area-background-color;
    color: $text-area-color;
    border-radius: 2px;
    outline: none;
    padding: $text-area-padding;
    //height: $text-area-height;
    border: $text-area-border;
    font-size: $text-area-font-size;
    font-family: $text-area-font-family;

    &::placeholder {
      color: $text-area-placeholder-color;
    }

    &:hover {
      //  border: 1px solid colorDarkness($input-border-color, 15);
    }

    &:focus, &:active {
      // border: 1px solid colorDarkness($input-border-color, 30);
    }

    &.has-error {
      border-color: $text-area-error-border-color;
    }

  }

}
