@import "src/assets/styles/common";

// define all variables here
$radio-button-background-color: #FFFFFF;
$radio-button-height: 20px;
$input-border-color: #D8D8D8;
$input-background-color: #FFFFFF;
$radio-button-base-color: $primary-color;

.radio-group-component {
  margin: 0 0 20px;
  position: relative;

  .radio-option-list {
    display: flex;
    flex-wrap: wrap;
  }

  &.row {
    .radio-option-list {
      flex-direction: row;

      .radio-component {
        margin-right: 15px;
      }
    }
  }

  &.column {
    .radio-option-list {
      flex-direction: column;

      .radio-component {
        margin-bottom: 15px;
      }
    }
  }
}

.radio-component {
  clear: both;
  height: $radio-button-height;
  margin-right: 20px;

  .label-component {
    margin: 0 !important;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400 !important;
  }

  .radio-container {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    margin-bottom: 15px;

    &.disable {
      cursor: not-allowed;

      .radio-checkmark {
        background-color: colorDarkness($radio-button-background-color, 10) !important;
      }

      &:hover {
        .radio-checkmark {
          background-color: colorDarkness($radio-button-background-color, 10) !important;
        }
      }
    }

  }

  .radio-container .radio-field {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 1px solid $input-border-color;
    background-color: $input-background-color;
  }

  //.radio-container:hover .radio-field ~ .radio-checkmark {
  //  //background-color: colorDarkness($primary-color, 2);
  //}
  //
  //.radio-container .radio-field:checked ~ .radio-checkmark {
  //  background-color: var(--primary-color);
  //}

  &.checked {
    .radio-container .radio-field:checked ~ .radio-checkmark {
      border-color: $radio-button-base-color;
    }
  }

  .radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .radio-container .radio-field:checked ~ .radio-checkmark:after {
    display: block;
  }

  .radio-container .radio-checkmark:after {
    width: 10px;
    aspect-ratio: 1;
    left: 4px;
    top: 4px;
    border-color: $radio-button-base-color;
    background: $radio-button-base-color;
    border-radius: 50%;
  }

  &.selected {
    .radio-checkmark {
      border-color: $radio-button-base-color;
    }
  }

}

